.placeholders{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace
}
header{
    border: 10px double black;
    background-color: white;
    text-align: center;
    padding: 50px;
}

section{
    background-color: grey;
    display: inline-block;
    width: 30%;
    height: 100px;
    align: top;
}

aside{
    background-color: grey;
    display: inline-block;
    width: 60%;
    height: 100px;
    align: top;
}